In [ ]:
!pip install matplotlib
!pip install obspy

Requirement already satisfied: matplotlib in c:\users\alexa\onedrive\documents\github\segdas\.venv\lib\site-packages (3.10.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\alexa\onedrive\documents\github\segdas\.venv\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\alexa\onedrive\documents\github\segdas\.venv\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\alexa\onedrive\documents\github\segdas\.venv\lib\site-packages (from matplotlib) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\alexa\onedrive\documents\github\segdas\.venv\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in c:\users\alexa\onedrive\documents\github\segdas\.venv\lib\site-packages (from matplotlib) (2.2.3)
Requirement already satisfied: packaging>=20.0 in c:\users\alexa\onedrive\documents\github\segdas\.venv\lib\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\alexa\onedrive\documents\github\segdas\.venv\lib\site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\alexa\onedrive\documents\github\segdas\.venv\lib\site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\alexa\onedrive\documents\github\segdas\.venv\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\alexa\onedrive\documents\github\segdas\.venv\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Collecting obspy
  Downloading obspy-1.4.1-cp311-cp311-win_amd64.whl.metadata (3.7 kB)
Requirement already satisfied: numpy>=1.20 in c:\users\alexa\onedrive\documents\github\segdas\.venv\lib\site-packages (from obspy) (2.2.3)
Collecting scipy>=1.7 (from obspy)
  Downloading scipy-1.15.2-cp311-cp311-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: matplotlib>=3.3 in c:\users\alexa\onedrive\documents\github\segdas\.venv\lib\site-packages (from obspy) (3.10.1)
Collecting lxml (from obspy)
  Downloading lxml-5.3.1-cp311-cp311-win_amd64.whl.metadata (3.8 kB)
Requirement already satisfied: setuptools in c:\users\alexa\onedrive\documents\github\segdas\.venv\lib\site-packages (from obspy) (65.5.0)
Collecting sqlalchemy<2 (from obspy)
  Downloading SQLAlchemy-1.4.54-cp311-cp311-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: decorator in c:\users\alexa\onedrive\documents\github\segdas\.venv\lib\site-packages (from obspy) (5.2.1)
Collecting requests (from obspy)
  Using cached requests-2.32.3-py3-none-any.whl.metadata (4.6 kB)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\alexa\onedrive\documents\github\segdas\.venv\lib\site-packages (from matplotlib>=3.3->obspy) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\alexa\onedrive\documents\github\segdas\.venv\lib\site-packages (from matplotlib>=3.3->obspy) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\alexa\onedrive\documents\github\segdas\.venv\lib\site-packages (from matplotlib>=3.3->obspy) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\alexa\onedrive\documents\github\segdas\.venv\lib\site-packages (from matplotlib>=3.3->obspy) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\alexa\onedrive\documents\github\segdas\.venv\lib\site-packages (from matplotlib>=3.3->obspy) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\alexa\onedrive\documents\github\segdas\.venv\lib\site-packages (from matplotlib>=3.3->obspy) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\alexa\onedrive\documents\github\segdas\.venv\lib\site-packages (from matplotlib>=3.3->obspy) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\alexa\onedrive\documents\github\segdas\.venv\lib\site-packages (from matplotlib>=3.3->obspy) (2.9.0.post0)
Collecting greenlet!=0.4.17 (from sqlalchemy<2->obspy)
  Using cached greenlet-3.1.1-cp311-cp311-win_amd64.whl.metadata (3.9 kB)
Collecting charset-normalizer<4,>=2 (from requests->obspy)
  Using cached charset_normalizer-3.4.1-cp311-cp311-win_amd64.whl.metadata (36 kB)
Collecting idna<4,>=2.5 (from requests->obspy)
  Using cached idna-3.10-py3-none-any.whl.metadata (10 kB)
Collecting urllib3<3,>=1.21.1 (from requests->obspy)
  Using cached urllib3-2.3.0-py3-none-any.whl.metadata (6.5 kB)
Collecting certifi>=2017.4.17 (from requests->obspy)
  Using cached certifi-2025.1.31-py3-none-any.whl.metadata (2.5 kB)
Requirement already satisfied: six>=1.5 in c:\users\alexa\onedrive\documents\github\segdas\.venv\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.3->obspy) (1.17.0)
Downloading obspy-1.4.1-cp311-cp311-win_amd64.whl (14.1 MB)
   ---------------------------------------- 0.0/14.1 MB ? eta -:--:--
   -------- ------------------------------- 3.1/14.1 MB 16.8 MB/s eta 0:00:01
   -------------------------- ------------- 9.2/14.1 MB 23.8 MB/s eta 0:00:01
   ---------------------------------------  13.9/14.1 MB 23.6 MB/s eta 0:00:01
   ---------------------------------------- 14.1/14.1 MB 20.6 MB/s eta 0:00:00
Downloading scipy-1.15.2-cp311-cp311-win_amd64.whl (41.2 MB)
   ---------------------------------------- 0.0/41.2 MB ? eta -:--:--
   --- ------------------------------------ 3.9/41.2 MB 21.3 MB/s eta 0:00:02
   --------- ------------------------------ 10.0/41.2 MB 24.9 MB/s eta 0:00:02
   -------------- ------------------------- 15.2/41.2 MB 25.2 MB/s eta 0:00:02
   -------------------- ------------------- 20.7/41.2 MB 25.2 MB/s eta 0:00:01
   ------------------------ --------------- 25.7/41.2 MB 25.1 MB/s eta 0:00:01
   ------------------------------ --------- 30.9/41.2 MB 25.2 MB/s eta 0:00:01
   ---------------------------------- ----- 35.9/41.2 MB 25.1 MB/s eta 0:00:01
   ---------------------------------------  41.2/41.2 MB 24.9 MB/s eta 0:00:01
   ---------------------------------------- 41.2/41.2 MB 23.0 MB/s eta 0:00:00
Downloading SQLAlchemy-1.4.54-cp311-cp311-win_amd64.whl (1.6 MB)
   ---------------------------------------- 0.0/1.6 MB ? eta -:--:--
   ---------------------------------------- 1.6/1.6 MB 17.1 MB/s eta 0:00:00
Downloading lxml-5.3.1-cp311-cp311-win_amd64.whl (3.8 MB)
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 3.8/3.8 MB 20.7 MB/s eta 0:00:00
Using cached requests-2.32.3-py3-none-any.whl (64 kB)
Using cached certifi-2025.1.31-py3-none-any.whl (166 kB)
Using cached charset_normalizer-3.4.1-cp311-cp311-win_amd64.whl (102 kB)
Using cached greenlet-3.1.1-cp311-cp311-win_amd64.whl (298 kB)
Using cached idna-3.10-py3-none-any.whl (70 kB)
Using cached urllib3-2.3.0-py3-none-any.whl (128 kB)
Installing collected packages: urllib3, scipy, lxml, idna, greenlet, charset-normalizer, certifi, sqlalchemy, requests, obspy
Successfully installed certifi-2025.1.31 charset-normalizer-3.4.1 greenlet-3.1.1 idna-3.10 lxml-5.3.1 obspy-1.4.1 requests-2.32.3 scipy-1.15.2 sqlalchemy-1.4.54 urllib3-2.3.0

In [45]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
from obspy import UTCDateTime
from matplotlib.ticker import MaxNLocator

In [2]:
filepath_picks = ""
test_pick = "C:/Users/alexa/OneDrive/Documents/GitHub/segDAS/files/CIDAS_picks.csv"

def read_pick(pick):
    df = pd.read_csv(pick)
    return df

In [3]:
read_pick(test_pick)

C:\Users\alexa\AppData\Local\Temp\ipykernel_18168\3990981991.py:5: DtypeWarning: Columns (7,8,9,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(pick)

,event_id,source_type,station_network_code,station_channel_code,station_code,station_location_code,station_latitude_deg,station_longitude_deg,station_elevation_m,trace_name,trace_sampling_rate_hz,trace_start_time,trace_S_arrival_sample,trace_P_arrival_sample,trace_S_onset,trace_P_onset,trace_snr_db,trace_s_arrival,trace_p_arrival
0,,,,,,,,,,,,,,,,,,,
1,,,CIDAS,,das0,,59.3535133831,-152.119676244,-62.9264913353,,25,2023-12-30T22:35:57.200000Z,,,,,,2023-12-30T22:36:42.180000Z,2023-12-30T22:36:25.860000Z
2,,,CIDAS,,das0,,59.3535133831,-152.119676244,-62.9264913353,,25,2023-12-30T19:35:57.200000Z,,,,,,NaN,NaN
3,,,CIDAS,,das0,,59.3535133831,-152.119676244,-62.9264913353,,25,2023-12-30T08:00:57.200000Z,,,,,,2023-12-30T08:01:06.430000Z,NaN
4,,,CIDAS,,das0,,59.3535133831,-152.119676244,-62.9264913353,,25,2023-12-29T11:33:57.200000Z,,,,,,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42746,,,CIDAS,,das4490,,59.58414,-152.343681,-55.999752,,25,2023-12-02T01:57:56.880000Z,,,,,,2023-12-02T01:58:11.270000Z,NaN
42747,,,CIDAS,,das4490,,59.58414,-152.343681,-55.999752,,25,2023-12-02T01:38:56.880000Z,,,,,,NaN,NaN
42748,,,CIDAS,,das4490,,59.58414,-152.343681,-55.999752,,25,2023-12-01T16:32:56.880000Z,,,,,,NaN,NaN
42749,,,CIDAS,,das4490,,59.58414,-152.343681,-55.999752,,25,2023-12-01T10:32:56.880000Z,,,,,,NaN,NaN
42750,,,CIDAS,,das4490,,59.58414,-152.343681,-55.999752,,25,2023-12-01T05:50:56.880000Z,,,,,,NaN,2023-12-01T05:51:20.000001Z

In [4]:
# pull out the data from the pick file where there are not Nan values for either trace_s_arrivals or trace_p_arrivals or both
df = pd.read_csv(test_pick)

df

C:\Users\alexa\AppData\Local\Temp\ipykernel_18168\1423811813.py:2: DtypeWarning: Columns (7,8,9,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(test_pick)

,event_id,source_type,station_network_code,station_channel_code,station_code,station_location_code,station_latitude_deg,station_longitude_deg,station_elevation_m,trace_name,trace_sampling_rate_hz,trace_start_time,trace_S_arrival_sample,trace_P_arrival_sample,trace_S_onset,trace_P_onset,trace_snr_db,trace_s_arrival,trace_p_arrival
0,,,,,,,,,,,,,,,,,,,
1,,,CIDAS,,das0,,59.3535133831,-152.119676244,-62.9264913353,,25,2023-12-30T22:35:57.200000Z,,,,,,2023-12-30T22:36:42.180000Z,2023-12-30T22:36:25.860000Z
2,,,CIDAS,,das0,,59.3535133831,-152.119676244,-62.9264913353,,25,2023-12-30T19:35:57.200000Z,,,,,,NaN,NaN
3,,,CIDAS,,das0,,59.3535133831,-152.119676244,-62.9264913353,,25,2023-12-30T08:00:57.200000Z,,,,,,2023-12-30T08:01:06.430000Z,NaN
4,,,CIDAS,,das0,,59.3535133831,-152.119676244,-62.9264913353,,25,2023-12-29T11:33:57.200000Z,,,,,,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42746,,,CIDAS,,das4490,,59.58414,-152.343681,-55.999752,,25,2023-12-02T01:57:56.880000Z,,,,,,2023-12-02T01:58:11.270000Z,NaN
42747,,,CIDAS,,das4490,,59.58414,-152.343681,-55.999752,,25,2023-12-02T01:38:56.880000Z,,,,,,NaN,NaN
42748,,,CIDAS,,das4490,,59.58414,-152.343681,-55.999752,,25,2023-12-01T16:32:56.880000Z,,,,,,NaN,NaN
42749,,,CIDAS,,das4490,,59.58414,-152.343681,-55.999752,,25,2023-12-01T10:32:56.880000Z,,,,,,NaN,NaN
42750,,,CIDAS,,das4490,,59.58414,-152.343681,-55.999752,,25,2023-12-01T05:50:56.880000Z,,,,,,NaN,2023-12-01T05:51:20.000001Z

In [5]:
#remove the Z from the trace_start_time column

In [6]:
# datetime interaction
from datetime import datetime
from datetime import timedelta as dt
from obspy.core.utcdatetime import UTCDateTime  

# Function to safely convert timestamps
def safe_to_datetime(timestamp):
    try:
        return UTCDateTime(timestamp).datetime
    except Exception:
        return pd.NaT

# Apply the safe conversion function
df['trace_start_time_unix'] = df['trace_start_time'].apply(safe_to_datetime)

# Convert to Unix timestamp (seconds since epoch)
df['trace_start_time_unix'] = df['trace_start_time_unix'].apply(lambda x: x.timestamp() if x is not pd.NaT else pd.NaT)

In [7]:
# datetime interaction
from datetime import datetime
from datetime import timedelta as dt
from obspy.core.utcdatetime import UTCDateTime  

import pandas as pd
from datetime import datetime
from obspy.core.utcdatetime import UTCDateTime

# Function to safely convert timestamps
def safe_to_datetime(timestamp):
    try:
        return UTCDateTime(timestamp).datetime
    except Exception:
        return pd.NaT

# Apply the safe conversion function
df['trace_p_arrival_unix'] = df['trace_p_arrival'].apply(safe_to_datetime)

# Convert to Unix timestamp (seconds since epoch)
df['trace_p_arrival_unix'] = df['trace_p_arrival_unix'].apply(lambda x: x.timestamp() if x is not pd.NaT else pd.NaT)

In [8]:
# datetime interaction
from datetime import datetime
from datetime import timedelta as dt
from obspy.core.utcdatetime import UTCDateTime  

import pandas as pd
from datetime import datetime
from obspy.core.utcdatetime import UTCDateTime

# Function to safely convert timestamps
def safe_to_datetime(timestamp):
    try:
        return UTCDateTime(timestamp).datetime
    except Exception:
        return pd.NaT

# Apply the safe conversion function
df['trace_s_arrival_unix'] = df['trace_s_arrival'].apply(safe_to_datetime)

# Convert to Unix timestamp (seconds since epoch)
df['trace_s_arrival_unix'] = df['trace_s_arrival_unix'].apply(lambda x: x.timestamp() if x is not pd.NaT else pd.NaT)

In [9]:
df['trace_p_arrival_sec'] = df['trace_p_arrival_unix'] - df['trace_start_time_unix']
df['trace_s_arrival_sec'] = df['trace_s_arrival_unix'] - df['trace_start_time_unix']

In [10]:
df

,event_id,source_type,station_network_code,station_channel_code,station_code,station_location_code,station_latitude_deg,station_longitude_deg,station_elevation_m,trace_name,...,trace_S_onset,trace_P_onset,trace_snr_db,trace_s_arrival,trace_p_arrival,trace_start_time_unix,trace_p_arrival_unix,trace_s_arrival_unix,trace_p_arrival_sec,trace_s_arrival_sec
0,,,,,,,,,,,...,,,,,,NaT,NaT,NaT,NaN,NaN
1,,,CIDAS,,das0,,59.3535133831,-152.119676244,-62.9264913353,,...,,,,2023-12-30T22:36:42.180000Z,2023-12-30T22:36:25.860000Z,1703975757.2,1703975785.86,1703975802.18,28.66,44.98
2,,,CIDAS,,das0,,59.3535133831,-152.119676244,-62.9264913353,,...,,,,NaN,NaN,1703964957.2,NaT,NaT,NaN,NaN
3,,,CIDAS,,das0,,59.3535133831,-152.119676244,-62.9264913353,,...,,,,2023-12-30T08:01:06.430000Z,NaN,1703923257.2,NaT,1703923266.43,NaN,9.23
4,,,CIDAS,,das0,,59.3535133831,-152.119676244,-62.9264913353,,...,,,,NaN,NaN,1703849637.2,NaT,NaT,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42746,,,CIDAS,,das4490,,59.58414,-152.343681,-55.999752,,...,,,,2023-12-02T01:58:11.270000Z,NaN,1701482276.88,NaT,1701482291.27,NaN,14.39
42747,,,CIDAS,,das4490,,59.58414,-152.343681,-55.999752,,...,,,,NaN,NaN,1701481136.88,NaT,NaT,NaN,NaN
42748,,,CIDAS,,das4490,,59.58414,-152.343681,-55.999752,,...,,,,NaN,NaN,1701448376.88,NaT,NaT,NaN,NaN
42749,,,CIDAS,,das4490,,59.58414,-152.343681,-55.999752,,...,,,,NaN,NaN,1701426776.88,NaT,NaT,NaN,NaN
42750,,,CIDAS,,das4490,,59.58414,-152.343681,-55.999752,,...,,,,NaN,2023-12-01T05:51:20.000001Z,1701409856.88,1701409880.000001,NaT,23.120001,NaN

In [11]:
grouped_df = df.groupby('trace_start_time').apply(lambda x: x)
grouped_df

#add an additional column which is the number that is that is in the followed by das in the station_code column 
grouped_df['das_number'] = grouped_df['station_code'].str.extract('(\d+)')
grouped_df

C:\Users\alexa\AppData\Local\Temp\ipykernel_18168\3592547359.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  grouped_df = df.groupby('trace_start_time').apply(lambda x: x)

                                  event_id source_type station_network_code  \
trace_start_time
                            0
2023-12-01T05:50:56.880000Z 21470                                     CIDAS
                            21565                                     CIDAS
                            21660                                     CIDAS
                            21755                                     CIDAS
...                                    ...         ...                  ...
2023-12-30T22:35:57.200000Z 20901                                     CIDAS
                            20996                                     CIDAS
                            21091                                     CIDAS
                            21186                                     CIDAS
                            21281                                     CIDAS

                                  station_channel_code station_code  \
trace_start_time
                            0
2023-12-01T05:50:56.880000Z 21470                           das2250
                            21565                           das2260
                            21660                           das2270
                            21755                           das2280
...                                                ...          ...
2023-12-30T22:35:57.200000Z 20901                           das2200
                            20996                           das2210
                            21091                           das2220
                            21186                           das2230
                            21281                           das2240

                                  station_location_code station_latitude_deg  \
trace_start_time
                            0
2023-12-01T05:50:56.880000Z 21470                              59.6231316964
                            21565                              59.6225635216
                            21660                              59.6219952682
                            21755                               59.621426936
...                                                 ...                  ...
2023-12-30T22:35:57.200000Z 20901                              59.6051334253
                            20996                              59.6065711433
                            21091                              59.6082059641
                            21186                              59.6086841406
                            21281                              59.6101172901

                                  station_longitude_deg station_elevation_m  \
trace_start_time
                            0
2023-12-01T05:50:56.880000Z 21470         -151.61228522      -17.3175342765
                            21565        -151.615487668      -18.7937778432
                            21660        -151.618690008      -20.2679850174
                            21755        -151.621892241       -21.586400689
...                                                 ...                 ...
2023-12-30T22:35:57.200000Z 20901        -151.582361186      -25.6091513457
                            20996        -151.580517482      -23.9690764135
                            21091        -151.580760677      -22.6053314043
                            21186        -151.578191349      -21.4473477359
                            21281        -151.576318745      -19.8287074186

                                  trace_name  ... trace_P_onset trace_snr_db  \
trace_start_time                              ...
                            0                 ...
2023-12-01T05:50:56.880000Z 21470             ...
                            21565             ...
                            21660             ...
                            21755             ...
...                                      ...  ...           ...          ...
2023-12-30T22:35:57.200000Z 20901             ...
                            20996             ...
                            21091             ...
                            21186             ...
                            21281             ...

                                               trace_s_arrival  \
trace_start_time
                            0
2023-12-01T05:50:56.880000Z 21470                          NaN
                            21565                          NaN
                            21660                          NaN
                            21755                          NaN
...                                                        ...
2023-12-30T22:35:57.200000Z 20901  2023-12-30T22:36:45.060001Z
                            20996  2023-12-30T22:36:44.680000Z
                            21091                          NaN
                            21186  2023-12-30T22:36:45.200000Z
                            21281  2023-12-30T22:36:44.810001Z

                                               trace_p_arrival  \
trace_start_time
                            0
2023-12-01T05:50:56.880000Z 21470  2023-12-01T05:51:17.890000Z
                            21565  2023-12-01T05:51:17.890000Z
                            21660  2023-12-01T05:51:17.890000Z
                            21755  2023-12-01T05:51:18.310000Z
...                                                        ...
2023-12-30T22:35:57.200000Z 20901                          NaN
                            20996  2023-12-30T22:36:27.669999Z
                            21091                          NaN
                            21186  2023-12-30T22:36:27.249999Z
                            21281  2023-12-30T22:36:27.630000Z

                                  trace_start_time_unix trace_p_arrival_unix  \
trace_start_time
                            0                       NaN                  NaN
2023-12-01T05:50:56.880000Z 21470         1701409856.88        1701409877.89
                            21565         1701409856.88        1701409877.89
                            21660         1701409856.88        1701409877.89
                            21755         1701409856.88        1701409878.31
...                                                 ...                  ...
2023-12-30T22:35:57.200000Z 20901          1703975757.2                  NaT
                            20996          1703975757.2    1703975787.669999
                            21091          1703975757.2                  NaT
                            21186          1703975757.2    1703975787.249999
                            21281          1703975757.2        1703975787.63

                                  trace_s_arrival_unix trace_p_arrival_sec  \
trace_start_time
                            0                      NaN                 NaN
2023-12-01T05:50:56.880000Z 21470                  NaN               21.01
                            21565                  NaN               21.01
                            21660                  NaN               21.01
                            21755                  NaN               21.43
...                                                ...                 ...
2023-12-30T22:35:57.200000Z 20901    1703975805.060001                 NaN
                            20996        1703975804.68           30.469999
                            21091                  NaT                 NaN
                            21186         1703975805.2           30.049999
                            21281    1703975804.810001               30.43

                                  trace_s_arrival_sec das_number
trace_start_time
                            0                     NaN        NaN
2023-12-01T05:50:56.880000Z 21470                 NaN       2250
                            21565                 NaN       2260
                            21660                 NaN       2270
                            21755                 NaN       2280
...                                               ...        ...
2023-12-30T22:35:57.200000Z 20901           47.860001       2200
                            20996               47.48       2210
                            21091                 NaN       2220
                            21186                48.0       2230
                            21281           47.610001       2240

[42751 rows x 25 columns]

In [12]:
#plot the das number vs the trace_p_arrival_sec and trace_s_arrival_sec for one trace_start_time

unique_trace_start_times = grouped_df.index.get_level_values('trace_start_time').unique()
print(unique_trace_start_times)

folder_name = 'F:\DAS'


# for i in unique_trace_start_times:
#     grouped_df[grouped_df.index.get_level_values('trace_start_time') == i].plot(x='das_number', y='trace_p_arrival_sec', kind='scatter')
#     plt.title('trace_p_arrival_sec vs das_number for trace_start_time')
#     png_name = 'trace_p_arrival_sec_vs_das_number_for_trace_start_time_' + str(i) + '.png'
#     plt.savefig(png_name)

Index([' ', '2023-12-01T05:50:56.880000Z', '2023-12-01T05:50:57.200000Z',
       '2023-12-01T10:32:56.880000Z', '2023-12-01T10:32:57.200000Z',
       '2023-12-01T16:32:56.880000Z', '2023-12-01T16:32:57.200000Z',
       '2023-12-02T01:38:56.880000Z', '2023-12-02T01:38:57.200000Z',
       '2023-12-02T01:57:56.880000Z',
       ...
       '2023-12-29T02:13:56.880000Z', '2023-12-29T02:13:57.200000Z',
       '2023-12-29T11:33:56.880000Z', '2023-12-29T11:33:57.200000Z',
       '2023-12-30T08:00:56.880000Z', '2023-12-30T08:00:57.200000Z',
       '2023-12-30T19:35:56.880000Z', '2023-12-30T19:35:57.200000Z',
       '2023-12-30T22:35:56.880000Z', '2023-12-30T22:35:57.200000Z'],
      dtype='object', name='trace_start_time', length=187)

In [13]:
import os

### Not great for loop:

In [15]:
number = 0
for i in unique_trace_start_times:
    number += 1
    plt.figure(figsize=(10, 6))
    for col in ['trace_s_arrival_sec']:
        if grouped_df.loc[i, col].isna().any():
            print(f"NaN values found in {col} for trace_start_time {i}")
        else:
            grouped_df[grouped_df.index.get_level_values('trace_start_time') == i].plot(x='das_number', y='trace_s_arrival_sec', kind='scatter', color = "blue")

    for col in  ['trace_p_arrival_sec']:      
        if grouped_df.loc[i, col].isna().any():
            print(f"NaN values found in {col} for trace_start_time {i}")
        else:
            grouped_df[grouped_df.index.get_level_values('trace_start_time') == i].plot(x='das_number', y='trace_p_arrival_sec', kind='scatter', color = "red")
    
    # Define directory and filename
    directory = "F:/DAS/pick_plots"
    filename = str(number) + ".png"

    # Combine directory and filename
    filepath = os.path.join(directory, filename)

    # Save the plot
    plt.savefig(filepath)
    plt.close()

NaN values found in trace_s_arrival_sec for trace_start_time
NaN values found in trace_p_arrival_sec for trace_start_time
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-01T05:50:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-01T05:50:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-01T05:50:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-01T10:32:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-01T10:32:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-01T10:32:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-01T10:32:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-01T16:32:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-01T16:32:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-01T16:32:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-01T16:32:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-02T01:38:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-02T01:38:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-02T01:38:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-02T01:38:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-02T01:57:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-02T01:57:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-02T01:57:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-02T01:57:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-02T10:27:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-02T10:27:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-02T10:27:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-02T10:27:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-02T14:56:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-02T14:56:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-02T14:56:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-02T14:56:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-02T20:25:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-02T20:25:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-02T20:25:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-02T20:25:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-02T23:16:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-02T23:16:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-02T23:16:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-02T23:16:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-03T07:29:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-03T07:29:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-03T07:29:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-03T07:48:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-03T07:48:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-03T07:48:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-03T07:48:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-03T11:11:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-03T11:11:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-03T11:11:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-03T11:11:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-03T23:41:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-03T23:41:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-03T23:41:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-03T23:41:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-05T05:23:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-05T05:23:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-05T05:23:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-05T05:23:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-05T09:55:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-05T09:55:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-05T09:55:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-05T09:55:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-05T15:01:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-05T15:01:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-05T15:01:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-05T15:01:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-05T20:49:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-05T20:49:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-05T20:49:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-05T20:49:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-06T03:07:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-06T03:07:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-06T03:07:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-06T03:07:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-06T03:19:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-06T03:19:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-06T03:19:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-06T03:19:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-06T12:07:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-06T12:07:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-06T12:07:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-06T12:07:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-06T20:36:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-06T20:36:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-06T20:36:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-06T20:36:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-07T02:56:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-07T02:56:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-07T02:56:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-07T02:56:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-07T13:10:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-07T13:10:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-07T13:10:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-07T13:10:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-07T15:44:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-07T15:44:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-07T15:44:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-07T15:44:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-08T06:29:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-08T06:29:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-08T06:29:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-08T06:29:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-08T09:32:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-08T09:32:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-08T09:32:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-08T09:32:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-08T23:45:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-08T23:45:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-08T23:45:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-08T23:45:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-09T15:55:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-09T15:55:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-09T15:55:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-09T15:55:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-10T07:09:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-10T07:09:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-10T07:09:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-10T07:09:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-10T07:52:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-10T07:52:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-10T07:52:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-10T07:52:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-10T15:24:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-10T15:24:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-10T15:24:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-10T15:24:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-10T16:45:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-10T16:45:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-10T16:45:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-10T16:45:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-11T03:04:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-11T03:04:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-11T03:04:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-11T03:04:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-11T09:24:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-11T09:24:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-11T09:24:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-11T09:24:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-11T12:46:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-11T12:46:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-11T12:46:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-11T12:46:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-11T15:19:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-11T15:19:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-11T15:19:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-11T15:19:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-11T22:15:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-11T22:15:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-11T22:15:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-11T22:15:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-11T22:33:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-11T22:33:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-11T22:33:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-11T22:33:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-12T07:07:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-12T07:07:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-12T07:07:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-12T07:07:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-12T09:08:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-12T09:08:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-12T09:08:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-12T09:08:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-12T09:48:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-12T09:48:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-12T09:48:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-12T09:48:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-12T20:40:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-12T20:40:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-12T20:40:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-12T20:40:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-12T22:12:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-12T22:12:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-12T22:12:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-12T22:12:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-13T00:44:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-13T00:44:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-13T00:44:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-13T00:44:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-13T07:36:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-13T07:36:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-13T07:36:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-13T07:36:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-13T12:59:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-13T12:59:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-13T12:59:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-13T12:59:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-13T13:15:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-13T13:15:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-13T13:15:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-13T13:15:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-13T17:37:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-13T17:37:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-13T17:37:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-13T17:37:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-13T18:55:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-13T18:55:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-13T18:55:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-13T18:55:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-13T23:34:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-13T23:34:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-13T23:34:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-13T23:34:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-14T13:41:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-14T13:41:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-14T13:41:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-14T13:41:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-15T01:35:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-15T01:35:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-15T01:35:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-15T01:35:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-15T09:53:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-15T09:53:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-15T09:53:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-15T09:53:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-15T13:39:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-15T13:39:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-15T13:39:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-15T13:39:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-15T15:52:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-15T15:52:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-15T15:52:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-15T15:52:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-15T19:35:56.880000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-15T19:35:56.880000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-15T19:35:57.200000Z
NaN values found in trace_p_arrival_sec for trace_start_time 2023-12-15T19:35:57.200000Z
NaN values found in trace_s_arrival_sec for trace_start_time 2023-12-16T02:25:56.880000Z

### Possibly better for loop:

Dropping columns that have Nan values for both trace_s_arrival and trace_p_arrival

In [22]:
# Drop rows where both 'trace_s_arrival_sec' and 'trace_p_arrival_sec' are NaN
df_dropped = df.dropna(subset=['trace_s_arrival_sec', 'trace_p_arrival_sec'], how='all')

# Display the updated dataframe
df_dropped

,event_id,source_type,station_network_code,station_channel_code,station_code,station_location_code,station_latitude_deg,station_longitude_deg,station_elevation_m,trace_name,...,trace_S_onset,trace_P_onset,trace_snr_db,trace_s_arrival,trace_p_arrival,trace_start_time_unix,trace_p_arrival_unix,trace_s_arrival_unix,trace_p_arrival_sec,trace_s_arrival_sec
1,,,CIDAS,,das0,,59.3535133831,-152.119676244,-62.9264913353,,...,,,,2023-12-30T22:36:42.180000Z,2023-12-30T22:36:25.860000Z,1703975757.2,1703975785.86,1703975802.18,28.66,44.98
3,,,CIDAS,,das0,,59.3535133831,-152.119676244,-62.9264913353,,...,,,,2023-12-30T08:01:06.430000Z,NaN,1703923257.2,NaT,1703923266.43,NaN,9.23
5,,,CIDAS,,das0,,59.3535133831,-152.119676244,-62.9264913353,,...,,,,2023-12-29T02:14:32.170001Z,2023-12-29T02:14:15.740001Z,1703816037.2,1703816055.740001,1703816072.170001,18.540001,34.970001
6,,,CIDAS,,das0,,59.3535133831,-152.119676244,-62.9264913353,,...,,,,2023-12-28T14:18:34.770000Z,NaN,1703773077.2,NaT,1703773114.77,NaN,37.57
9,,,CIDAS,,das0,,59.3535133831,-152.119676244,-62.9264913353,,...,,,,2023-12-27T05:06:51.030002Z,2023-12-27T05:06:44.650001Z,1703653557.2,1703653604.650001,1703653611.030002,47.450001,53.830002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42728,,,CIDAS,,das4490,,59.58414,-152.343681,-55.999752,,...,,,,NaN,2023-12-07T02:57:51.220000Z,1701917816.88,1701917871.22,NaT,54.34,NaN
42737,,,CIDAS,,das4490,,59.58414,-152.343681,-55.999752,,...,,,,2023-12-05T05:24:22.730000Z,NaN,1701753836.88,NaT,1701753862.73,NaN,25.85
42741,,,CIDAS,,das4490,,59.58414,-152.343681,-55.999752,,...,,,,2023-12-03T07:30:33.179999Z,NaN,1701588596.88,NaT,1701588633.179999,NaN,36.299999
42746,,,CIDAS,,das4490,,59.58414,-152.343681,-55.999752,,...,,,,2023-12-02T01:58:11.270000Z,NaN,1701482276.88,NaT,1701482291.27,NaN,14.39
42750,,,CIDAS,,das4490,,59.58414,-152.343681,-55.999752,,...,,,,NaN,2023-12-01T05:51:20.000001Z,1701409856.88,1701409880.000001,NaT,23.120001,NaN

regrouping

In [23]:
grouped_df_dropped = df_dropped.groupby('trace_start_time').apply(lambda x: x)
grouped_df_dropped

#add an additional column which is the number that is that is in the followed by das in the station_code column 
grouped_df_dropped['das_number'] = grouped_df_dropped['station_code'].str.extract('(\d+)')
grouped_df_dropped

C:\Users\alexa\AppData\Local\Temp\ipykernel_18168\2907651947.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  grouped_df_dropped = df_dropped.groupby('trace_start_time').apply(lambda x: x)

                                  event_id source_type station_network_code  \
trace_start_time
2023-12-01T05:50:56.880000Z 21470                                     CIDAS
                            21565                                     CIDAS
                            21660                                     CIDAS
                            21755                                     CIDAS
                            21850                                     CIDAS
...                                    ...         ...                  ...
2023-12-30T22:35:57.200000Z 20806                                     CIDAS
                            20901                                     CIDAS
                            20996                                     CIDAS
                            21186                                     CIDAS
                            21281                                     CIDAS

                                  station_channel_code station_code  \
trace_start_time
2023-12-01T05:50:56.880000Z 21470                           das2250
                            21565                           das2260
                            21660                           das2270
                            21755                           das2280
                            21850                           das2290
...                                                ...          ...
2023-12-30T22:35:57.200000Z 20806                           das2190
                            20901                           das2200
                            20996                           das2210
                            21186                           das2230
                            21281                           das2240

                                  station_location_code station_latitude_deg  \
trace_start_time
2023-12-01T05:50:56.880000Z 21470                              59.6231316964
                            21565                              59.6225635216
                            21660                              59.6219952682
                            21755                               59.621426936
                            21850                              59.6208585253
...                                                 ...                  ...
2023-12-30T22:35:57.200000Z 20806                              59.6037060557
                            20901                              59.6051334253
                            20996                              59.6065711433
                            21186                              59.6086841406
                            21281                              59.6101172901

                                  station_longitude_deg station_elevation_m  \
trace_start_time
2023-12-01T05:50:56.880000Z 21470         -151.61228522      -17.3175342765
                            21565        -151.615487668      -18.7937778432
                            21660        -151.618690008      -20.2679850174
                            21755        -151.621892241       -21.586400689
                            21850        -151.625094367      -23.2750093549
...                                                 ...                 ...
2023-12-30T22:35:57.200000Z 20806        -151.584250629      -26.9169346047
                            20901        -151.582361186      -25.6091513457
                            20996        -151.580517482      -23.9690764135
                            21186        -151.578191349      -21.4473477359
                            21281        -151.576318745      -19.8287074186

                                  trace_name  ... trace_P_onset trace_snr_db  \
trace_start_time                              ...
2023-12-01T05:50:56.880000Z 21470             ...
                            21565             ...
                            21660             ...
                            21755             ...
                            21850             ...
...                                      ...  ...           ...          ...
2023-12-30T22:35:57.200000Z 20806             ...
                            20901             ...
                            20996             ...
                            21186             ...
                            21281             ...

                                               trace_s_arrival  \
trace_start_time
2023-12-01T05:50:56.880000Z 21470                          NaN
                            21565                          NaN
                            21660                          NaN
                            21755                          NaN
                            21850                          NaN
...                                                        ...
2023-12-30T22:35:57.200000Z 20806                          NaN
                            20901  2023-12-30T22:36:45.060001Z
                            20996  2023-12-30T22:36:44.680000Z
                            21186  2023-12-30T22:36:45.200000Z
                            21281  2023-12-30T22:36:44.810001Z

                                               trace_p_arrival  \
trace_start_time
2023-12-01T05:50:56.880000Z 21470  2023-12-01T05:51:17.890000Z
                            21565  2023-12-01T05:51:17.890000Z
                            21660  2023-12-01T05:51:17.890000Z
                            21755  2023-12-01T05:51:18.310000Z
                            21850  2023-12-01T05:51:18.030000Z
...                                                        ...
2023-12-30T22:35:57.200000Z 20806  2023-12-30T22:36:27.650001Z
                            20901                          NaN
                            20996  2023-12-30T22:36:27.669999Z
                            21186  2023-12-30T22:36:27.249999Z
                            21281  2023-12-30T22:36:27.630000Z

                                  trace_start_time_unix trace_p_arrival_unix  \
trace_start_time
2023-12-01T05:50:56.880000Z 21470         1701409856.88        1701409877.89
                            21565         1701409856.88        1701409877.89
                            21660         1701409856.88        1701409877.89
                            21755         1701409856.88        1701409878.31
                            21850         1701409856.88        1701409878.03
...                                                 ...                  ...
2023-12-30T22:35:57.200000Z 20806          1703975757.2    1703975787.650001
                            20901          1703975757.2                  NaT
                            20996          1703975757.2    1703975787.669999
                            21186          1703975757.2    1703975787.249999
                            21281          1703975757.2        1703975787.63

                                  trace_s_arrival_unix trace_p_arrival_sec  \
trace_start_time
2023-12-01T05:50:56.880000Z 21470                  NaT               21.01
                            21565                  NaT               21.01
                            21660                  NaT               21.01
                            21755                  NaT               21.43
                            21850                  NaT               21.15
...                                                ...                 ...
2023-12-30T22:35:57.200000Z 20806                  NaT           30.450001
                            20901    1703975805.060001                 NaN
                            20996        1703975804.68           30.469999
                            21186         1703975805.2           30.049999
                            21281    1703975804.810001               30.43

                                  trace_s_arrival_sec das_number
trace_start_time
2023-12-01T05:50:56.880000Z 21470                 NaN       2250
                            21565                 NaN       2260
                            21660                 NaN       2270
                            21755                 NaN       2280
                            21850                 NaN       2290
...                                               ...        ...
2023-12-30T22:35:57.200000Z 20806                 NaN       2190
                            20901           47.860001       2200
                            20996               47.48       2210
                            21186                48.0       2230
                            21281           47.610001       2240

[14041 rows x 25 columns]

In [ ]:
#find the number of times that each

In [36]:
unique_trace_start_times_dropped = grouped_df_dropped.index.get_level_values('trace_start_time').unique()
print(unique_trace_start_times_dropped)

Index(['2023-12-01T05:50:56.880000Z', '2023-12-01T05:50:57.200000Z',
       '2023-12-02T01:38:56.880000Z', '2023-12-02T01:38:57.200000Z',
       '2023-12-02T01:57:56.880000Z', '2023-12-02T01:57:57.200000Z',
       '2023-12-02T10:27:56.880000Z', '2023-12-02T10:27:57.200000Z',
       '2023-12-02T14:56:56.880000Z', '2023-12-02T14:56:57.200000Z',
       ...
       '2023-12-28T14:17:56.880000Z', '2023-12-28T14:17:57.200000Z',
       '2023-12-29T02:13:56.880000Z', '2023-12-29T02:13:57.200000Z',
       '2023-12-30T08:00:56.880000Z', '2023-12-30T08:00:57.200000Z',
       '2023-12-30T19:35:56.880000Z', '2023-12-30T19:35:57.200000Z',
       '2023-12-30T22:35:56.880000Z', '2023-12-30T22:35:57.200000Z'],
      dtype='object', name='trace_start_time', length=147)

In [37]:
min_trace_p_arrival_sec = grouped_df_dropped['trace_p_arrival_sec'].min()
max_trace_p_arrival_sec = grouped_df_dropped['trace_p_arrival_sec'].max()
min_trace_s_arrival_sec = grouped_df_dropped['trace_s_arrival_sec'].min()
max_trace_s_arrival_sec = grouped_df_dropped['trace_s_arrival_sec'].max()

print("Min trace_p_arrival_sec:", min_trace_p_arrival_sec)
print("Max trace_p_arrival_sec:", max_trace_p_arrival_sec)
print("Min trace_s_arrival_sec:", min_trace_s_arrival_sec)
print("Max trace_s_arrival_sec:", max_trace_s_arrival_sec)

Min trace_p_arrival_sec: 5.009999990463257
Max trace_p_arrival_sec: 54.990001916885376
Min trace_s_arrival_sec: 7.6499998569488525
Max trace_s_arrival_sec: 54.980000019073486

In [39]:
unique_trace_start_times_dropped

Index(['2023-12-01T05:50:56.880000Z', '2023-12-01T05:50:57.200000Z',
       '2023-12-02T01:38:56.880000Z', '2023-12-02T01:38:57.200000Z',
       '2023-12-02T01:57:56.880000Z', '2023-12-02T01:57:57.200000Z',
       '2023-12-02T10:27:56.880000Z', '2023-12-02T10:27:57.200000Z',
       '2023-12-02T14:56:56.880000Z', '2023-12-02T14:56:57.200000Z',
       ...
       '2023-12-28T14:17:56.880000Z', '2023-12-28T14:17:57.200000Z',
       '2023-12-29T02:13:56.880000Z', '2023-12-29T02:13:57.200000Z',
       '2023-12-30T08:00:56.880000Z', '2023-12-30T08:00:57.200000Z',
       '2023-12-30T19:35:56.880000Z', '2023-12-30T19:35:57.200000Z',
       '2023-12-30T22:35:56.880000Z', '2023-12-30T22:35:57.200000Z'],
      dtype='object', name='trace_start_time', length=147)

In [49]:
import numpy as np

for i in unique_trace_start_times_dropped:
    if i.strip() == '':
        print(f"Skipping invalid trace_start_time: '{i}'")
        continue
    
    # Define directory and filename
    # Convert i into a string with format YYYYMMDD_HHMMSS
    name = str(i).replace(" ", "_").replace(":", "_").replace("-", "_").replace(".", "_")
    
    directory = "F:/DAS/pick_plots_new"
    filename = str(name) + ".png"

    # Combine directory and filename
    filepath = os.path.join(directory, filename)

    plt.figure(figsize=(10, 6))
  

    subset = grouped_df_dropped.loc[i]

    plt.plot(subset['das_number'], subset['trace_s_arrival_sec'], 'o', color='blue', label='S Arrival')
    plt.plot(subset['das_number'], subset['trace_p_arrival_sec'], 'o', color='red', label='P Arrival')

    plt.title(f'Trace Arrivals vs Channel for {i}')
    plt.xlabel('Channel')
    plt.ylabel('Arrival Time (sec)')
    plt.ylim(0, 60)
    plt.legend()

    # Set the number of ticks to 5
    plt.gca().xaxis.set_major_locator(MaxNLocator(5))
    #change the number of ticks on the x axis to be 5 total
    # Save the plot
    plt.savefig(filepath)
    plt.close()